{% extends "base.html" %}

{% block title %}
  Ошибка
{% endblock %}

{% block content %}
  <div class="container py-4">
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Произошла ошибка!</h4>
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div>
      <a href="{% url 'ads:list' %}" class="btn btn-primary">Перейти на главную</a>
    </div>
  </div>
{% endblock %}